.alert-non-premium {
  cursor: pointer;
  font-weight: bold;
}

/* Always set the map height & width explicitly to define the size of the div,
    else the element won't be shown,
       * element that contains the map. */
#map {
  height: 400px;
}

#mapControls {
  display: none
}

@media only screen and (min-width: 1000px) {
  #map {
    width: 790px;
  }
}


/* Disable arrows from Number input  */
input::-webkit-outer-spin-button, /* Chrome, Safari, Edge, Opera */
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] { /* Firefox  */
    -moz-appearance: textfield;
}

.showDetails {
  height: 5rem;
}

.controls, .distance {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#origin-input,
#destination-input,
#distance {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 200px;
}

#origin-input,
#destination-input,
.regime,
.tonnageBorder,
.palletNumber {
  border: 2px solid #02d5b5;
  /*
    color: #002b3e
    color: #203372
    color: #02d5b5
  */
}

#distance {
  background-color: rgb(241, 241, 241);
  line-height: 2rem;
  width: 100px;
}

#origin-input:focus,
#destination-input:focus {
  border-color: #4d90fe;
}

#data {
  max-width: 800px;
  margin-top: 1rem;
}

.size {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 1rem;
}

.sizeInputGroup {
  margin-left: 1rem;
  width: 9rem;
}

.freightAskingOfferContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding-left: 4rem;
  width: 20rem;
}

.freightAskingOfferContainer .TVA {
  width: 8rem;
}

.offerPrice {
  display: flex;
  flex-direction: row;
  align-items: baseline
}


.sizeInputGroup .input-group-text {
  width: 3.6rem;
}

.sizeInputGroup:first-of-type {
  margin-left: 0rem;
}




#inputGroupValability, #inputGroupRON {
  width: 16.5rem;
  margin-top: 1rem;
}

.valability, .offer {
  width: 7rem;
}


#groupTextValability, #groupTextEUR {
  width: 7rem;
}


.sectionDesc {
  background-color: rgba(84, 82, 82, 0.184);
  width: 100%;
}

#trucktype, #features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#trucktype div,
#features div {
  display: flex;
  align-items: center
}

input[type=checkbox] {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  margin-left: 1rem;
  margin-right: .365rem;
}

.selectData {
  display: flex;
  align-items: flex-end;
}

.regime, .pallet {
  margin-top: 1rem;
}

.palletNumber {
  width: 9.5rem;
}


#trucktype div:first-of-type input[type=checkbox],
#features  div:first-of-type input[type=checkbox] {
  margin-left: 0;
}

#submit {
  margin-top: 2rem;
  width: 18rem;
}

@media only screen and (max-width: 800px) {
  .size {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }

  .sizeInputGroup {
    margin-left: 0;
    margin-bottom: 1rem;
    width: 12rem;
  }

  #trucktype, #features {
    flex-direction: column;
    align-content: center;
    align-items: flex-start
  }

  #trucktype input[type=checkbox],
  #features  input[type=checkbox] {
    margin-left: 0;
  }

  #trucktype div,
  #features div {
    margin-bottom: 1rem;
  }

  input[type="checkbox"] {
    width: 1.25rem;
    height: 1.25rem;
  }

  .selectData {
    flex-direction: column;
    align-items: center
  }

  .palletNumber {
    width: normal;
    margin-top: 1rem;
    width: 8.5rem
  }

  .freightAskingOfferContainer {
    padding-left: 0;
  }

  .freightAskingOfferContainer .TVA {
    width: 6rem
  }

  #inputGroupValability {
    width: 15.5rem;
  }

  #inputGroupRON {
    width: 12.5rem;
  }

  .valability, .offer {
    width: 4rem;
  }

  #groupTextEUR {
    width: 4rem;
  }

  #submit {
    width: 90%;
  }
}